POSTGRES_DB=neo_curator
POSTGRES_USER=spring
POSTGRES_PASSWORD=change_me

SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/neo_curator
SPRING_DATASOURCE_USERNAME=spring
SPRING_DATASOURCE_PASSWORD=change_me